* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
#home{
    font-weight: 800;
    text-decoration: underline;
}
/* common */
.border{
    margin-top: 20px;
    height: 4px;
    width: 100%;
    background-color: gray;
}
.body{
    background-color: #f4f4f4;
}
/* ---------------------------------------------------------------------- */
.nav-bar {
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

}

.nav-items{
    width: 260px;
    height: 2px;
    padding: 20px;
    font-family: Inter;
    color:rgba(16, 26, 36, 1);
    top: 15px;

}

a{
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.book>button {
    background-color: rgba(234, 109, 39, 1);
    border: none;
    border-radius: 10px 5px 10px 5px;
    width: 118px;
    height: 44px;
    padding: 13px;
    text-align: center;
    color: white;
    font-family: David Libre;
    font-weight: 700;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    margin-top: 28px;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    padding-top: 100px;
    gap: 80px;
}

p{
    height: 305;
    width: 315px;
    padding: 10px 0px;
}

.head{
    font-weight: bolder;
    font-size: 58px;
}

.social span{
    padding: 9px;
}

.body .social{
    margin-top: -30px;
    display: flex;
}

.social .link{
      text-decoration: none;
      height: 34px;
      width: 34px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-size: 25px;
      border: 2px solid ;
}

img {
    width: 198px;
    height: 55px;
    top: 56px;
    left: 180px;
    gap: 0px;
    opacity: 0px;
}

.imga img{
    height: 80vh;
    width: 365px;
    margin: auto;
    border-top-right-radius: 60px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 60px;
}
.sec-img{
    position: relative;
}
.sec-img img{
    width: 285px;
    height: 275px;
    position: absolute;
    left: -600px;
    top: 1px;
}

.button{
    padding-top: 160px;
}

#menu{
    background-color: black;
    width: 70px;
    height: 34px;
    color: white;
    font-weight: 500;
    border-top-left-radius: 12px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 12px;
    border: none;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15)


}
#book{
    background-color: rgba(234, 109, 39, 1);
    width: 85px;
    height: 34px;
    color: white;
    font-weight: 500;
    border-top-left-radius: 12px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 12px;
    border: none;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15)
}


/* ----------------------------------2nd page---------------------------------------- */
body{
    background-color: #f4f4f4;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.heading p{
    margin-top: 30px;
    font-size: 50px;
    width: 100%;
    font-weight: bolder;
    
}

p{
    height: 30px;
    width: 200px;
}
.flower{
position: absolute;
left: 340px;
top: 7px;
}
.flower img{
    height: 156px;
}
.wrapper .body{
   margin-top:45px;
}

.wrapper .main-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main-images{
    margin-top: 250px;
}

.main-images .image{
    width: 240px;
    height: 325px;
    position: relative;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 25px;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 70px;
    display: flex;  
    justify-content: center;
}

.image img {
    position: absolute;
    top: -122px;
    left: 7px;
    height: 222px;
    width: 222px;
}


.head-img{
    margin-top: 110px;
}

.head-img p{
    text-align: center;
    margin-top: 15px;
}

 .image .icon{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    color: aliceblue;
    position: absolute;
    z-index: 1;
    text-align: center;
    bottom: 333px;
    left: 189px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------3rd page-------------------------------- */
.body3{
    display: flex;
    max-width: 70vw;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.body3 .texts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.images img{
    width: 40vw;
    height: 100%;
    margin-top: 45px;
}
.texts .head{
    height: 114px;
    width: 349px;
    padding: 25px;
    font-size: xx-large;
    font-weight: bolder;
}

.texts .body{
    padding-top: 100px;
}
.third{
    height: 230px;
    width: 362px;
    /* background-color: black; */
    /* color: white; */
    padding: 22px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    margin-top: -15px;
}
#menu{
    background-color: black;
    width: 70px;
    height: 34px;
    color: white;
    font-weight: 500;
    border-top-left-radius: 12px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 12px;
    border: none;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    margin-left:15px


}
#book{
    background-color: rgba(234, 109, 39, 1);
    width: 85px;
    height: 34px;
    color: white;
    font-weight: 500;
    border-top-left-radius: 12px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 12px;
    border: none;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    margin-left:15px
}


/* ------------------------------fouth page------------------------------- */
.fourth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.first-half{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
.image4-input img{
    width: 70vw;
    height: 100%;
     border-radius: 20px;
}
.image4-input p{
    position: absolute;
    bottom: 470px;
    left: 295px;
    color: white;
    font-size: 31px;
    width: 470px;
    text-align: center;
    font-weight: bolder;
}
.input{
    position: relative;
    bottom: 200px;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    width: 630px;
    text-align: center;
    left: 215px;
}
.input input{
    width: 500px;
    height: 48px;
    border-radius: 15px;
    border: none;
}

.button4{
    background-color: rgba(234, 109, 39, 1);
    width: 90px;
    height: 40px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 470px;
    top: 13px;
}


/* ------------------2nd half------------------------------------ */
.second-half{
    display: flex;
    margin-top: -160px;
}
.first-coloumn{
    position: absolute;
    left: 225px;
}
.first-coloumn img{
    margin-bottom: 15px;
}
.head{
    margin-top: 55px;
}
.table{
    margin-top: 15px;
    margin-bottom: 25px;
}
.first-coloumn p{
    height: 30px;
    width: 499px;
}
.head4{
    margin-top: 35px;
}
.p4{
    margin-bottom: 10px;
}

/* -----------------------------2nd coloumn--------------------------------- */
a{
    text-decoration: none;
    color: black;
}
a:active{
    color: black;
}
a:hover{
    color: grey;
}
.navigation{
    position: relative;
    left: 150px;
    top: 1px;
}
.navigation h3{
    margin-bottom: 10px;
    position: relative;
    top: 34px;
}
.navigation .link4{
    position: relative;
    margin: 26px 0px 30px 0px;
    top: 27px;
    font-size: 14px;
}

/* -------------------------3rd coloumn---------------------------------------------- */

.dishes{
    position: relative;
    left: 240px;
    top: 1px;
}
.dishes h3{
    margin-bottom: 10px;
    position: relative;
    top: 34px;
}
.dishes .menu{
    position: relative;
    margin: 26px 0px 30px 0px;
    top: 27px;
    font-size: 14px;
}

/* -------------------------4th coloumn-------------------------------------------- */
.social-handles{
    position: relative;
    left: 284px;
    top: 1px;
}
.social-handles h3{
    margin-bottom: 10px;
    position: relative;
    top: 34px;
}
span{
    position: relative;
    margin: 26px 0px 30px 0px;
    top: 42px;
    font-size: 22px;
}
